body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUp {
  display: inline-block;
  padding: 5px 12px;
}
.topbar{
  font-family: 'Press Start 2P', cursive;
  font-size: 7px;
  height: 25px;
  background-color:red;
  color: white;
}
.topbar a {
  color: white;
}
.title{
  background-color: red;
  color: green;
}
.dancer{
  /* border:10px solid red;
  border-radius:10px;
  position:absolute; */
  position: absolute;
  border: 0;
  border-radius: 0;
  display: block;
  width: 75px;
  height: 75px;
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.blinkyDancer {
  background-image: url('./images/Bulbasaur.png');
}
.slidingDancer {
  background-image: url('./images/magikarp.png')
}
.teleportingDancer {
  background-image: url('./images/abra.png');
}